<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleClientID</key>
	<string>com.minzzzun.Huggit</string>
	<key>AppleClientSecret</key>
	<string>eyJhbGciOiJFUzI1NiIsImtpZCI6IjI0Njc4MjdXMlAifQ.eyJpc3MiOiI1NUpXOVBaNEo5IiwiaWF0IjoxNzUxMDI0NTc3LCJleHAiOjE3NjY1NzY1NzcsImF1ZCI6Imh0dHBzOi8vYXBwbGVpZC5hcHBsZS5jb20iLCJzdWIiOiJjb20ubWluenp6dW4uSHVnZ2l0In0.aypWDq3k1GNNJBbC8A_-HWO0_kFEViL2zcSyYee5godiueN7vElo7b-4BPNWQtkRAnlXuRJEhzaUbhivblQyHQ</string>
	<key>ApplePrivateKey</key>
	<string>-----BEGIN PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgKxJ/Ss/km6WnbB7D
GJG6ofxfSHHnb12fn/mDyJuzdX6gCgYIKoZIzj0DAQehRANCAATEF6IeXFHPMqfK
+rZNYSOa8A8gWli/nTdpvFcwmLU8adtB1Rn7epkPhR+NCUozuhj/AmrsOy0e6m0Y
CmTrZqf2
-----END PRIVATE KEY-----</string>
	<key>AppleTeamID</key>
	<string>55JW9PZ4J9</string>
	<key>AppleKeyID</key>
	<string>2467827W2P</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ko</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>githubprviewer</string>
			</array>
		</dict>
	</array>
	<key>GitHubClientID</key>
	<string>Ov23liTg6IE1pWEHIJLd</string>
	<key>GitHubClientSecret</key>
	<string>1a3797c3577b7191c930cda5b542efc80ab4f9da</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Thin.ttf</string>
		<string>Paperlogy-1Thin.ttf</string>
		<string>Paperlogy-2ExtraLight.ttf</string>
		<string>Paperlogy-3Light.ttf</string>
		<string>Paperlogy-4Regular.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Paperlogy-8ExtraBold.ttf</string>
		<string>Paperlogy-9Black.ttf</string>
		<string>WantedSansStd-Black.ttf</string>
		<string>WantedSansStd-Bold.ttf</string>
		<string>WantedSansStd-ExtraBlack.ttf</string>
		<string>WantedSansStd-ExtraBold.ttf</string>
		<string>WantedSansStd-Medium.ttf</string>
		<string>WantedSansStd-Regular.ttf</string>
		<string>WantedSansStd-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
